<app-search></app-search>
<app-tags></app-tags>
<ul class="d-flex justify-content-center align-items-center flex-wrap">
  <li *ngFor="let food of foods">
    <a
      routerLink="/food/{{ food.id }}"
      class="d-flex flex-column overflow-hidden text-decoration-none"
    >
      <img src="{{ food.imageUrl }}" alt="food img" />
      <div class="content">
        <div class="name">
          {{ food.name }}
        </div>
        <span class="favorite {{ food.favorite ? '' : 'not' }}">
          <i class="fa-solid fa-heart"></i>
        </span>
        <div class="stars">
          <app-rating [food]="food"></app-rating>
        </div>
        <div
          class="product-item-footer d-flex justify-content-between align-items-center"
        >
          <div class="origins">
            <span *ngFor="let origin of food.origins" class="mr-2">
              {{ origin }}
            </span>
          </div>
          <div class="cook-time ms-auto">
            <span>🕒</span>
            {{ food.cookTime }}
          </div>
        </div>

        <div class="price">
          <span>
            {{ food.price | currency }}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
