.conTainer > * {
  min-width: 25rem;
  max-width: 40rem;
}

img {
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 25rem;
  margin: 1rem;
}

a {
  text-decoration: none;
  /* color: rgb(132, 132, 237); */
}

.details {
  flex: 1 0;
  border-radius: 3rem;
  padding: 2rem;
  color: black;
  margin-left: 1rem;
}

.details .name {
  font-size: 2rem;
  font-weight: bold;
}

.details .favorite {
  color: #e72929;
  font-size: 2rem;
}
.details .favorite.not {
  color: gray;
}

.details .origins > span {
  padding: 0.5rem;
  font-size: 0.7rem;
  margin: 0.5rem 0.5rem 0;
  border-radius: 1rem;
  background-color: aliceblue;
  color: #8e8e8e;
}

.details .cook-time {
  margin: 1rem;
}
.details .cook-time span {
  padding: 0.6rem 2rem 0.6rem 0;
  border-radius: 10rem;
  font-size: 1.3rem;
}

.details .price {
  font-size: 1.8rem;
  margin: 1rem 1rem 1rem 0;
  color: green;
}

.details .price::before {
  content: "Price: ";
  color: gray;
  font-weight: 500;
}

button {
  margin-top: 1rem;
  color: white;
  background: #e72929;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}
